:root {
    --radius :1rem
}

body {
    background-color: royalblue;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
}

simple-chat{
    width: 40%;
    height: 90vh;
    text-align: center;
    background-color: white;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    background: dodgerblue;
    color: white;
}

header h1{
    margin-top: 2rem;
}
header p{
    margin: 1rem;
}

simple-chat .messages{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    min-height: 0;
    overflow-y: auto;
    gap: 1rem;
}



.message{
    border-radius: var(--radius);
    padding: 1rem;
    max-width : 45ch;
    text-align: left;
}

simple-chat .message.user{
    align-self: flex-end;
    color: white;
    background-color: royalblue;
}

simple-chat .message.bot{
    align-self: flex-start;
    color: black;
    background-color: lightgrey;
}

.input-area{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

input{
    padding: 1rem;
    border-radius: var(--radius);
    flex: 1;
    background-color: lightgrey;
}

button{
    padding: 1rem;
    min-width: 6rem;
    border-radius: var(--radius);
    color: white;
    background-color: royalblue;
    cursor : pointer;
}

